<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Reg</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Reg.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">


                <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a> 
                <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                <a class="navbar-brand" asp-area="" asp-controller="Category" asp-action="Index">Категории</a>
                <a class="navbar-brand" asp-area="" asp-controller="Dish" asp-action="Index">Блюда</a>

                @if (User.IsInRole("admin"))
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Create">Создать пользователя</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index">Список пользователей</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Roles" asp-action="Index">Роли</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Roles" asp-action="UserList">Пользователи по ролям</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="AllOrders">Заказы</a>
                }
                   
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Order" asp-action="Details">Мои заказы</a>
                }

                <form class="form-inline my-2 my-lg-0" asp-action="Search" asp-controller="Category" method="get">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Reg - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
